<a href="https://colab.research.google.com/github/Abhi5503/2216200_AIML_Bootcamp_2023/blob/main/AIML_Bootcamp_D_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#arithmetic operators
print("arithmetic operators")
a=3
b=4

 print(a+b)
 print(a-b)
 print(a*b)
 print(a**%%bash)
 print(a/b)
 print(a//b)
 print(a%b)

In [6]:
#comparision operators

a==b
a<=b
a>=b
a<<b
a>>b
a!=b

True

In [5]:
#assignment operators

a=10
b=5

c=a+b
c-=a

In [ ]:
#logical operators

x = True
y = False
print("a and y is:" x and y)
print("x or y is:",x or y)
print("x not y is:",not y)

In [17]:
#bitwise operators

a=13 #0000 1101
a=14 #0000 1110

print(a&b)#and
print(a|b)#or
print(~a)#not
print(a^b)#xor
print(a>>2)#right shift
print(a<<2)#left shift

4
15
-15
11
3
56

In [23]:
#membership operators

x="hello world"

print("w" in x)

True

In [24]:
#identity operators

x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [27]:
a=int(input("enter a number:"))
print(a)

b=input("enter string:")
print(b)

enter a number:4
4
enter string:hello
hello

In [40]:
#string

str="HelloWorld"
#indexing
print(str[0])
print(str[-1])

#slicing
#from:to(n-1:2)
print(str[0:5])
print(str[0:7:2])

#reverse a string

print(str[::-1])

#string methods
my_str="Hello World"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
print(my_str.rstrip())

#string operations
str1="hello"
str2="world"

#string formats
name="Abhi"
language="Python"
year="2023"

print(name,"is learning" ,language, "programming in",year )

H
d
Hello
Hloo
dlroWolleH
HELLO WORLD
hello world
hELLO wORLD
Hello World
Hello World
Abhi is learning Python programming in 2023

In [ ]:
#lists
l1=[1,2,3,4]
l2=[1,"hello","2.5"]
l3=['hyd','mumbai','goa']

#indexing
print(l1[2])
print(l2[-1])
print(l3[:4])

#slicing
print(l1[:3])

#nested list
nl1=["dragonfruit",l1,l2]
print(nl1[0][0:6])

print(l2[1][0:1])
print(l2[1][1:2])
print(l2[1][2:3])
print(l2[1][3:4])
print(l2[1][4:5])


#listmethods
l1.append(5)
print(l1)

l5=[18,23,4,2,5,9,7,3,24,49,6,4,18]

print(l5.count(4))
print(len(l5))
print(l5[::-1])

l5.sort()
print(l5)

#dir[list]