<a href="https://colab.research.google.com/github/Abhi5503/2216200_AIML_Bootcamp_2023/blob/main/AIML_Bootcamp_D_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#tuples- elements cannot be changed in tuples as of in lists

tup=(1,2,3,4)
tup1=("hi",2.3,4)

Ntup=("Hello",tup,tup1)
print(Ntup)

print(Ntup[-1][-1])

#tuplemethods

print(tup.count)
print(tup.index(2))
print(max(tup))
print(min(tup))
print(len(tup))

('Hello', (1, 2, 3, 4), ('hi', 2.3, 4))
4
<built-in method count of tuple object at 0x7fac4ef85090>
1
4
1
4

In [11]:
#sets

set1={1,2,3,4}
set2={1,2.0,"hi"}

l=[1,2,3,4]
print(l)
set3=set(l)
print(set3)

#set methods
set1.add(5)
print(set1)

set1.update([5,6])
print(set1)

set1.discard(3)
print(set1)

set1.remove(4)
print(set1)


#set operations

a={2,5,3,1,7}
b={4,5,6,7,2}

#union
print("union")
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print("intersection")
print(a&b)
print(a.intersection(b))
print(b.intersection(a))

#difference
print("difference")
print("a-b:",a-b)
print("b-a:",b-a)

[1, 2, 3, 4]
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 5, 6}
union
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
intersection
{2, 5, 7}
{2, 5, 7}
{2, 5, 7}
difference
a-b: {1, 3}
b-a: {4, 6}

In [16]:
#dictionaries
d1={'name':'abhinandana',200:'sub'}
print(d1['name'])
print(d1[200])
print(d1.keys())
print(d1.values())
print(d1.get("name"))

abhinandana
sub
dict_keys(['name', 200])
dict_values(['abhinandana', 'sub'])
abhinandana