<a href="https://colab.research.google.com/github/Abhi5503/2216200_AIML_Bootcamp_2023/blob/main/AIML_Bootcamp_d_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#decision making

#if statement
var=100
if var>0:
  print("TRUE")
  print(var)

#if else statement
var1=-1
if var1>0:
  print("true")
else:
  print("false")

#nested--if statement
age=int(input("enter age:"))
if age>0 and age<15:
  if age>0 and age<=2:
    print("free ticket")
  elif age>2 and age<15:
    print("half ticket")
  elif age>15 and age<60:
    print("full ticket")
  elif age>=60:
    print("discounted ticket")

TRUE
100
false
enter age:5
half ticket

In [9]:
#loops
numbers={1,2,3,4,5,6,7,8,9,10}
for i in range(1,11):
  print(i)

sum=0
for val in numbers:
  sum=sum+val
print("the sum is",sum)

1
2
3
4
5
6
7
8
9
10
the sum is 55

In [10]:
#while loop

count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [11]:
#nested loop

#nested for

x=[[1,5,4,],[1,2,3],[4,8,12]]

y=[[5,6,7],[1,2,3],[8,9,6]]

res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[6, 11, 11]
[2, 4, 6]
[12, 17, 18]

In [12]:
#nested while
num=int(input("enter the table:"))#till where it need to be printed
i=1
while(i<num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("--------------------")
  i=i+1

enter the table:6
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
--------------------
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
--------------------
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
--------------------
table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
--------------------
table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
--------------------

In [16]:
#control statements

#break
for q in "python":
  if q=="h":
    break
  print("current leter:",q)
print("-------------------")
#continue
for q in "python":
  if q=="h":
    continue
  print("current leter:",q)
print("-------------------")
#pass
for q in "python":
  if q=="h":
    pass
    print("-->this is a pass block")
  print("current leter:",q)

current leter: p
current leter: y
current leter: t
-------------------
current leter: p
current leter: y
current leter: t
current leter: o
current leter: n
-------------------
current leter: p
current leter: y
current leter: t
-->this is a pass block
current leter: h
current leter: o
current leter: n

In [18]:
#functions

def greet(name):
  '''this function greets a person'''
  print("Hello, \t "+name+ "\t Good morning")

greet("Abhi")

Hello, 	 Abhi	 Good morning

In [19]:
#default
def A(a,b=1,c=2):
  return a+b+c

print(A(3))
print(A(2,2,2))

6
6

In [20]:
#keyword
def A(a,b=1,c=2):
  return a+b+c

print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [21]:
#positional

def A(a,b,c):
  return a+b+c

print(A(10,20,30))

60

In [23]:
#arbitrary positional
def add_num(*n):
  print(sum(n))

add_num(1,2,3,4,5,6,7,8,9,10)

TypeError: ignored

In [24]:
#arbitrary keywords

def key_args(**kwargs):
  return kwargs

myd=key_args(Apples=30,Bananas=40,Cherries=50)
print(myd['Apples'])
print(myd)

30
{'Apples': 30, 'Bananas': 40, 'Cherries': 50}

In [26]:
#higher order functions
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi! HeLlo")
  print(greet)

explain(shout)
explain(whisper)

HI! HELLO
hi! hello