<a href="https://colab.research.google.com/github/Abhi5503/2216200_AIML_Bootcamp_2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#15)a)
print('A series of characters designated as one object known as a string'[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
#b)
print('welcome to python training program'[3:10][::-1])

ot emoc

In [ ]:
#16)
s1="was it a car or a cat i saw"
s2=(s1[::-1])
print(s2.upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17)
x=int(input('enter x:'))
y=2*x
print('z'*x + 'o'* y)

enter x:5
zzzzzoooooooooo

In [ ]:
#Q)6
k=65
print(hex(k))#hexadecimal
print(oct(k))#octal
print(bin(k))#binary
print(chr(k))#ascii

0x41
0o101
0b1000001
A

In [6]:
#Q)7)arithmetic operator
val1 = 9
val2 = 3

res = val1 + val2
print(res)

res1=val1-val2
print(res1)

res2=val1*val2
print(res2)

res3=val1**val2
print(res3)

res4=val1/val2
print(res4)

res5=val1//val2
print(res5)

res6=val1%val2
print(res6)

12
6
27
729
3.0
3
0

In [14]:
#Q)8)assignment operators
a=5
b=1

a+=b
print(a)

x=5
y=2

x*=y
print(x)

m=5
n=3
m-=n
print(m)

i=6
j=2
i/=j
print(i)

6
10
2
3.0

In [ ]:
#Q)9)comparision operators

l>=k
l<=k
l==k
l!=k
l<<k

In [ ]:
#10)logical operators

x = True
y = False
print(x and y)
print("x or y is:",x or y)
print("x not y is:",x not y)

In [25]:
#Q)11)bitwise operators
a=15 #0000 1111
b=14 #0000 1110

print(a&b)#and
print(a|b)#or
print(~a)#not
print(a^b)#xor
print(a>>2)#right shift
print(a<<2)#left shift

14
15
-16
1
3
60

In [ ]:
#Q)12)membership operators
 x = "heyy"
 print("h" in x)

In [35]:
#Q)13)identity operators

x1=5
y1=5
x2="hello"
y2="hello"
x3=[3,6,9]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [51]:
#Q)14)negative indexing for list

l1=[2,4,6,8]
l2=["heyy",2,5,3,5,2]

#neg index
print(l1[1:-1])
print(l2[2:6])

nl1=["heya",l1,l2]
print(nl1[1][:-1])

[4, 6]
[5, 3, 5, 2]
[2, 4, 6]

In [52]:
#Q)1)string with examples

str="AIMLBootcamp"
#indexing
print(str[0])
print(str[-1])

#slicing
#from:to(n-1:2)
print(str[0:5])
print(str[0:7:2])

#reverse a string

print(str[::-1])

#string methods
my_str="Hello World"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
print(my_str.rstrip())

#string operations
str1="hello"
str2="world"
print(str1,"to the",str2)

A
p
AIMLB
AMBo
pmactooBLMIA
HELLO WORLD
hello world
hELLO wORLD
Hello World
Hello World
hello to the world

In [55]:
#Q)2)lists with examples
l1=[1,2,3,4]
l2=[1,"hello","2.5"]
l3=['doraemon','tomnjerry','chotabheem']

#indexing
print(l1[2])
print(l2[-1])
print(l3[:4])

#slicing
print(l1[:3])

#nested list
nl1=["hyderabad",l1,l2]
print(nl1[0][0:6])

print(l2[1][0:1])
print(l2[1][1:2])
print(l2[1][2:3])
print(l2[1][3:4])
print(l2[1][4:5])


#listmethods
l1.append("heyy")
print(l1)

l5=[18,23,4,2,5,9,7,3,24,49,6,4,18]

print(l5.count(6))
print(len(l5))
print(l5[::-1])

l5.sort()
print("sorted:",l5)

3
2.5
['doraemon', 'tomnjerry', 'chotabheem']
[1, 2, 3]
hydera
h
e
l
l
o
[1, 2, 3, 4, 'heyy']
1
13
[18, 4, 6, 49, 24, 3, 7, 9, 5, 2, 4, 23, 18]
sorted: [2, 3, 4, 4, 5, 6, 7, 9, 18, 18, 23, 24, 49]

In [60]:
#Q)3)tuple with examples
t1=(1,2,3,4,5,6)
t2=("aiml","bootcamp",2.0)

ntup=("hello",t1,t2)
print(ntup[-1][-1])

#tuple methods

print(max(t1))
print(min(t1))
print(len(ntup))
print(t2.count)
print(t1.index(4))

2.0
6
1
3
<built-in method count of tuple object at 0x7f558096b600>
3

In [61]:
#Q)4)dictionary with examples

d1={'channel':'ndtv',5503:'ddlj'}
print(d1['channel'])
print(d1[5503])
print(d1.keys())
print(d1.values())
print(d1.get("ddlj"))

ndtv
ddlj
dict_keys(['channel', 5503])
dict_values(['ndtv', 'ddlj'])
None

In [62]:
#Q)5)set with examples

set1={2,4,6,8}
set2={1,2.0,"hi","helloworld"}

l=[1,2,3,4]
print(l)
set3=set(l)
print(set3)

#set methods
set1.add(5)
print(set1)

set1.update([5,6])
print(set1)

set1.discard(3)
print(set1)

set1.remove(4)
print(set1)


#set operations

a={10,20,30,40}
b={40,20,50,60}

#union
print("union")
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print("intersection")
print(a&b)
print(a.intersection(b))
print(b.intersection(a))

#difference
print("difference")
print("a-b:",a-b)
print("b-a:",b-a)

[1, 2, 3, 4]
{1, 2, 3, 4}
{2, 4, 5, 6, 8}
{2, 4, 5, 6, 8}
{2, 4, 5, 6, 8}
{2, 5, 6, 8}
union
{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
intersection
{40, 20}
{40, 20}
{40, 20}
difference
a-b: {10, 30}
b-a: {50, 60}